process {

    withName: 'SORT_INDEX' {
        cpus   = 2
        memory = '2 GB'
    }
    withName: 'SNV' {
        cpus = 4
    }
    withName: 'SV' {
        cpus = 4
    }
    withName: 'STR' {
        cpus = 4
    }
    withName: 'MOSDEPTH' {
        cpus = 4
    }
    withName: 'CNV' {
        cpus = 4
    }
    withName: 'MODKIT' {
        cpus = 4
    }
}
