process {

resourceLimits = [
    cpus: 32,
    memory: 128.GB,
    time: 24.h
]  // biggest node you actually have


withLabel: process_low {

    cpus   = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
    time   = { 2.h * task.attempt }

}


withLabel: process_medium {

    cpus   = { 8 * task.attempt }
    memory = { 32.GB * task.attempt }
    time   = { 6.h * task.attempt }

}


withLabel: process_high {

    cpus   = { 16 * task.attempt }
    memory = { 64.GB * task.attempt }
    time   = { 12.h * task.attempt }

}

maxRetries = 2

errorStrategy = { 
    task.exitStatus in [137, 140, 143, 104] ? 'retry' : 'terminate'
}

}
