process {

resourceLimits = [
    cpus: 32,
    memory: 128.GB,
    time: 24.h
]  // biggest node you actually have


withLabel: process_low {

    cpus   = 2
    memory = "2.GB"

}


withLabel: process_medium {

    cpus   = 2
    memory = "4.GB"

}


withLabel: process_high {

    cpus   = 4
    memory = "4.GB"

}

}


docker {
    enabled = true
}
