process {

    executor = 'slurm'


    withLabel:process_low {

        queue = 'low'

    }


    withLabel:process_medium {

        queue = 'medium'

    }


    withLabel:process_high {

        queue = 'high'

    }

}


executor {

    queueSize = 100

}


singularity {

    enabled = true

}
